* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#page1 {
  background-image: url('public/page1.jpg');
  background-size: cover;
  background-position: center;
}
#page2 {
  background-color: #323012;
}
#page3 {
  background-color: #f9f3e5;
}
#page4 {
  background-color: #69663a;
}
#page5 {
  background-image: url('public/page3.jpg');
  background-size: cover;
  background-position: center;
}
#bg1 {
  background-color: #323012;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 90%;
}
.container {
  width: 70%;
  border-radius: 20px;
  background-color: #323012;
  overflow: hidden;
}
.skills {
  height: 1.2rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f9f3e5;
}
.html {
  width: 95%;
}
.css {
  width: 80%;
}
.js {
  width: 40%;
}
.algorithms {
  width: 80%;
}
#page5 a svg:hover {
  transform: scale(1.2);
  transition: 1s;
}

@media (min-width: 750px) {
  .skills {
    height: 1.5rem;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.appearfirst {
  animation: appear 1.7s linear;
}
